body {
  padding-top: 160px;
  padding-left: 400px;
  font: 15px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: white;
  background-image: url(https://www.hematology.org/-/media/hematology/images/background/header-background.png);

}
